services:
  geoportal1:
    build:
      context: .
      args:
        - CACHE_BUST=${CACHE_BUST:-1}
        - NEXT_PUBLIC_ARCGIS_API_KEY=${NEXT_PUBLIC_ARCGIS_API_KEY}
        - NEXT_PUBLIC_PORTAL_URL=${NEXT_PUBLIC_PORTAL_URL}
        - PORTAL_TOKEN_SERVICE_URL=${PORTAL_TOKEN_SERVICE_URL}
        - NEXT_PUBLIC_ADMIN_URL=${NEXT_PUBLIC_ADMIN_URL}
        - NEXT_PUBLIC_AUTH_URL=${NEXT_PUBLIC_AUTH_URL}
        - NEXT_PUBLIC_AUTH_REFRESH_URL=${NEXT_PUBLIC_AUTH_REFRESH_URL}
        - NEXT_PUBLIC_AUTH_LOGOUT_URL=${NEXT_PUBLIC_AUTH_LOGOUT_URL}
        - NEXT_PUBLIC_SDF_USERNAME=${NEXT_PUBLIC_SDF_USERNAME}
        - NEXT_PUBLIC_SDF_PASSWORD=${NEXT_PUBLIC_SDF_PASSWORD}
        - TOKEN_SECRET=${TOKEN_SECRET}
        - NEXT_PUBLIC_APP_URL_SDF_GEOAPP=${NEXT_PUBLIC_APP_URL_SDF_GEOAPP}
        - NEXT_PUBLIC_JDA_EXTENT_URL=${NEXT_PUBLIC_JDA_EXTENT_URL}
        - NEXT_PUBLIC_SDF_BASEMAP_URL=${NEXT_PUBLIC_SDF_BASEMAP_URL}
        - NEXT_PUBLIC_CLOSEST_FACILITY_URL=${NEXT_PUBLIC_CLOSEST_FACILITY_URL}
        - NEXT_PUBLIC_ROUTE_SERVICE_URL=${NEXT_PUBLIC_ROUTE_SERVICE_URL}
        - NEXT_PUBLIC_EXPORT_GP_URL=${NEXT_PUBLIC_EXPORT_GP_URL}
        - NEXT_PUBLIC_PRINT_GP_URL=${NEXT_PUBLIC_PRINT_GP_URL}
        - NEXT_PUBLIC_UPLOAD_GP_URL=${NEXT_PUBLIC_UPLOAD_GP_URL}
        - NEXT_PUBLIC_UPLOAD_URL=${NEXT_PUBLIC_UPLOAD_URL}
        - NEXT_PUBLIC_ADMIN_URL=${NEXT_PUBLIC_ADMIN_URL}
        - NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=${NEXT_SERVER_ACTIONS_ENCRYPTION_KEY}
    environment:
      - PORT=3000
    expose:
      - "4001"
    ports:
      - "4001:3000"
    networks:
      - gis_net

  geoportal2:
    build:
      context: .
      args:
        - CACHE_BUST=${CACHE_BUST:-1}
        - NEXT_PUBLIC_ARCGIS_API_KEY=${NEXT_PUBLIC_ARCGIS_API_KEY}
        - NEXT_PUBLIC_PORTAL_URL=${NEXT_PUBLIC_PORTAL_URL}
        - PORTAL_TOKEN_SERVICE_URL=${PORTAL_TOKEN_SERVICE_URL}
        - NEXT_PUBLIC_ADMIN_URL=${NEXT_PUBLIC_ADMIN_URL}
        - NEXT_PUBLIC_AUTH_URL=${NEXT_PUBLIC_AUTH_URL}
        - NEXT_PUBLIC_AUTH_REFRESH_URL=${NEXT_PUBLIC_AUTH_REFRESH_URL}
        - NEXT_PUBLIC_AUTH_LOGOUT_URL=${NEXT_PUBLIC_AUTH_LOGOUT_URL}
        - NEXT_PUBLIC_SDF_USERNAME=${NEXT_PUBLIC_SDF_USERNAME}
        - NEXT_PUBLIC_SDF_PASSWORD=${NEXT_PUBLIC_SDF_PASSWORD}
        - TOKEN_SECRET=${TOKEN_SECRET}
        - NEXT_PUBLIC_APP_URL_SDF_GEOAPP=${NEXT_PUBLIC_APP_URL_SDF_GEOAPP}
        - NEXT_PUBLIC_JDA_EXTENT_URL=${NEXT_PUBLIC_JDA_EXTENT_URL}
        - NEXT_PUBLIC_SDF_BASEMAP_URL=${NEXT_PUBLIC_SDF_BASEMAP_URL}
        - NEXT_PUBLIC_CLOSEST_FACILITY_URL=${NEXT_PUBLIC_CLOSEST_FACILITY_URL}
        - NEXT_PUBLIC_ROUTE_SERVICE_URL=${NEXT_PUBLIC_ROUTE_SERVICE_URL}
        - NEXT_PUBLIC_EXPORT_GP_URL=${NEXT_PUBLIC_EXPORT_GP_URL}
        - NEXT_PUBLIC_PRINT_GP_URL=${NEXT_PUBLIC_PRINT_GP_URL}
        - NEXT_PUBLIC_UPLOAD_GP_URL=${NEXT_PUBLIC_UPLOAD_GP_URL}
        - NEXT_PUBLIC_UPLOAD_URL=${NEXT_PUBLIC_UPLOAD_URL}
        - NEXT_PUBLIC_ADMIN_URL=${NEXT_PUBLIC_ADMIN_URL}
        - NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=${NEXT_SERVER_ACTIONS_ENCRYPTION_KEY}
    environment:
      - PORT=3000
    expose:
      - "4001"
    ports:
      - "4002:3000"
    networks:
      - gis_net

networks:
  gis_net:
    external: true
