services:
  geoportal1:
    build:
      context: .
      args:
        - NEXT_PUBLIC_ARCGIS_API_KEY
        - NEXT_PUBLIC_PORTAL_URL
        - NEXT_PUBLIC_PORTAL_TOKEN_SERVICE_URL
        - NEXT_PUBLIC_AUTH_URL
        - NEXT_PUBLIC_AUTH_REFRESH_URL
        - NEXT_PUBLIC_AUTH_LOGOUT_URL
        - NEXT_PUBLIC_DB_USER
        - NEXT_PUBLIC_DB_HOST
        - NEXT_PUBLIC_DB_NAME
        - NEXT_PUBLIC_DB_PASSWORD
        - PG_PORT
        - NEXT_PUBLIC_PORTAL_USERNAME
        - NEXT_PUBLIC_PORTAL_PASSWORD
        - TOKEN_SECRET
        - NEXT_PUBLIC_APP_URL
    environment:
      - PORT=3000
    expose:
      - "4001"
    ports:
      - "4001:3000"
    networks:
      - gis_net

  geoportal2:
    build:
      context: .
      args:
        - NEXT_PUBLIC_ARCGIS_API_KEY
        - NEXT_PUBLIC_PORTAL_URL
        - NEXT_PUBLIC_PORTAL_TOKEN_SERVICE_URL
        - NEXT_PUBLIC_AUTH_URL
        - NEXT_PUBLIC_AUTH_REFRESH_URL
        - NEXT_PUBLIC_AUTH_LOGOUT_URL
        - NEXT_PUBLIC_DB_USER
        - NEXT_PUBLIC_DB_HOST
        - NEXT_PUBLIC_DB_NAME
        - NEXT_PUBLIC_DB_PASSWORD
        - PG_PORT
        - NEXT_PUBLIC_PORTAL_USERNAME
        - NEXT_PUBLIC_PORTAL_PASSWORD
        - TOKEN_SECRET
        - NEXT_PUBLIC_APP_URL
    environment:
      - PORT=3000
    expose:
      - "4001"
    ports:
      - "4002:3000"
    networks:
      - gis_net

networks:
  gis_net:
    external: true
