/* General Styles */
.toolsMenu {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  /* Toggle Button */
  .toggleButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    z-index: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
  }
  
  .toggleButton.hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .toggleButton:active {
    transform: translate(-50%, -50%) scale(0.9);
  }
  
  /* Menu Container */
  .menuContainer {
    position: relative;
    width: 70%;
    max-width: 900px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .menuContainer.expanded {
    transform: scale(1);
    opacity: 1;
  }
  
  /* Menu */
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
  }
  
  /* Menu Items */
  .menuItem {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: transform 0.8s ease, opacity 0.8s ease;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
  }
  
  .menuItem i {
    position: relative;
  }
  
  .menuItem i:hover::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 4px;
    background: linear-gradient(90deg, #9a02a8, #b518c4, #dd69e7, #771680);
    background-size: 400%;
    animation: fire-effect 1.5s linear infinite;
    border-radius: 5px;
    box-shadow: 0 0 5px #9a02a8, 0 0 100px #b518c4, 0 0 15px #dd69e7;
  }
  
  /* Navigation Buttons */
  .navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--primary-light);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
    z-index: 1;
  }
  
  .navButton.left {
    left: -400px;
  }
  
  .navButton.right {
    right: -400px;
  }
  
  /* Underline */
  .underline {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #9a02a8, #b518c4, #dd69e7, #771680);
    background-size: 400%;
    animation: fire-effect 1.5s linear infinite;
    border-radius: 5px;
    box-shadow: 0 0 15px #9a02a8, 0 0 30px #b518c4, 0 0 45px #dd69e7;
    transition: height 0.5s ease;
  }
  
  .menuContainer.expanded .underline {
    height: 0;
  }
  
  /* Tooltip Styles */
  .menuItem[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-size: 0.8rem;
  }
  
  .menuItem[data-tooltip]:hover::before {
    opacity: 1;
  }
  
  /* Animations */
  @keyframes fire-effect {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes electricShine {
    0% {
      text-shadow: 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 4px #00ffff;
    }
    50% {
      text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff;
    }
    100% {
      text-shadow: 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 4px #00ffff;
    }
  }
