.label {
  background-color: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

.input {
  display: none;
}

.title {
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  transition: all 0.4s ease;
  position: absolute;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  width: 100%; /* Ensure the text container spans the full width */
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.4s ease;
  position: absolute;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}