@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Primary Colors */
  --primary: #934B96; /* Default primary color */
  --primary-light: #cb69ce; /* Lighter shade of primary */
  --primary-dark: #5b245d; /* Darker shade of primary */

  /* Secondary Colors */
  --secondary: #149295; /* Default secondary color */
  --secondary-light: #1FAAA8; /* Lighter shade of secondary */
  --secondary-dark: #0D706A; /* Darker shade of secondary */

  /* Tertiary Colors */
  --tertiary: #3BBFAD; /* Default tertiary color */
  --tertiary-light: #51C6B7; /* Lighter shade of tertiary */
  --tertiary-dark: #2D9C95; /* Darker shade of tertiary */

  --yellow: #e7af39;
  --yellow-light: #f8c862;
  --yellow-dark: #bb8f30;

  /* Danger Colors */
  --danger: #ca5551; /* Default danger color */
  --danger-light: #f1a5a2; /* Lighter shade of danger */
  --danger-dark: #a3302c; /* Darker shade of danger */
}

[dir="rtl"] {
  font-family: var(--font-droid-arabic-kufi), sans-serif;
  direction: rtl;
  text-align: right;
}
[dir="ltr"] {
  font-family: var(--font-oxanium), sans-serif;
  direction: ltr;
  text-align: left;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow: hidden; /* Prevent scrolling */
  height: 100%; /* Ensure full height usage */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default paddings */
  cursor: url('/cursor.png'), auto;
}
button, a, i, [role="button"], [onclick] {
  cursor: url('/cursor-link.png'), pointer;
}

/* Styles for English (en) */
:lang(en) {
  font-family: var(--font-oxanium), Arial, Helvetica, sans-serif;
  direction: ltr;
  text-align: left;
}

/* Styles for Arabic (ar) */
:lang(ar) {
  font-family: var(--font-droid-arabic-kufi), sans-serif;
  direction: rtl;
  text-align: right;
}

button {
  display: flex;          /* Use flexbox for easy centering */
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  cursor: pointer;        /* Change cursor to pointer on hover */
}

.gutter {
  background-color: var(--primary);
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* Floating Animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Spin Animation */
@keyframes spin-3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Glow Effect Animation */
@keyframes glow-effect {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4), 0 0 20px rgba(0, 255, 255, 0.3),
      0 0 30px rgba(0, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.5),
      0 0 45px rgba(0, 255, 255, 0.3);
  }
}

/* Electric Shine Animation */
@keyframes electricShine {
  0% {
    text-shadow: 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 2px #00ffff,
      0 0 4px #00ffff;
  }
  50% {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff;
  }
  100% {
    text-shadow: 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 2px #00ffff, 0 0 2px #00ffff,
      0 0 4px #00ffff;
  }
}

@keyframes rotate-3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animate-rotate-3d {
  animation: rotate-3d 5s linear infinite;
}

/* Pointer Triangle */
#pointer::before {
  content: '';
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid rgb(19, 88, 88);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}



