@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;


  /* Primary Colors */
  --primary: #149295; /* Default primary color */
  --primary-light: #1FAAA8; /* Lighter shade of primary */
  --primary-dark: #0D706A; /* Darker shade of primary */

  /* Secondary Colors */
  --secondary: #3BBFAD; /* Default secondary color */
  --secondary-light: #51C6B7; /* Lighter shade of secondary */
  --secondary-dark: #2D9C95; /* Darker shade of secondary */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Prevent scrolling */
  height: 100%; /* Ensure full height usage */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default paddings */
}

.gutter {
  background-color: #5ab5a9;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}
