.container {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(66, 66, 66, 0.3);
}


.header {
    background-color: var(--primary-dark-transparent);
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.header:hover {
    background-color: var(--primary-dark);
}


.content {
    background-color: var(--primary);
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-bottom: .5em;
}

.contentExpanded {
    max-height: 1000px; 
}

.contentUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contentLi {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contentLiLastChild {
    border-bottom: none;
}