.messagesContainer {
  position: absolute;
  bottom: 0;
  width: 60%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  z-index: 5;
  pointer-events: none;
  overflow: hidden;
}

.message {
  position: relative;
  overflow: hidden;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 8px;
  width: 40%;
  max-width: 400px;
  min-width: 200px;
  margin: 0;
  animation: slideIn 0.3s ease-out;
  background: #f5f5f5;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.messageBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  animation: shrinkWidth linear forwards;
}

.errorMessage .messageBar {
  background-color: #e64555;
}

.warningMessage .messageBar {
  background-color: var(--secondary);
}

.infoMessage .messageBar {
  background-color: #2f9d75;
}

@keyframes shrinkWidth {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.errorMessage .messageHeader {
  background-color: #efacac;
  color: #962929;
}

.warningMessage .messageHeader {
  background-color: #efdaa9;
  color: #976d0b;
}

.infoMessage .messageHeader {
  background-color: #87ceb4;
  color: #1d5641;
}

.messageBody {
  padding: 1rem;
  margin-top: 0;
}

.errorMessage {
  background-color: #fff;
  color: #8f2d37;
}

.warningMessage {
  background-color: #fff;
  color: #856404;
}

.infoMessage {
  background-color: #fff;
  color: #127b54;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
